FRONTEND_PORT=9080
MINIO_ROOT_PASSWORD=ontology123
MINIO_ROOT_USER=ontology
POSTGRES_PASSWORD=1
PULSAR_ADVERTISED_HOST=localhost
PULSAR_LISTENER_NAME=external

APPLICATION_TOKEN_SECRET=ontology-development-token-secret
CONNECTION_MASTER_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
DEEPSEEK_API_KEY=
FLINK_WORKLOAD_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
